/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $green.accent-2
  accent: rgba(#f36, 1)
  secondary: rgba(#252b33, 1)
  info: $blue.accent-3
  warning: $amber.darken-2
  error: $red.accent-4
  success: $cyan.accent-2
}

@import '../../node_modules/vuetify/src/stylus/main'
